<h1>Stupid Coach</h1>
<h2>Ask your coach anything:</h2>
<form action="/answer">
  <div class="input-group">
    <input type="text" name="question" class="form-control rounded" placeholder="your question" aria-label="Search" aria-describedby="search-addon">
    <button class="btn btn-primary" type="submit">Ask!</button>
  </div>
</form>
